body {
    font-family: sans-serif;
    margin: 0;
    background-color: black;
    
    
}
header {
    background: red;
    height: 100px;


}

h1 {
    text-align: center;
    line-height: 100px;
    margin: 0;
}

h2 {
    text-align: center;
    color: red;
    line-height: 100px;
    margin: 0;

}

article {
    padding: 10px;
    margin: 10px;
    background: red;


}

section {
    zoom: .8;
    

}